@model IEnumerable<DataAccess.Postgres.Entity.UnityEntity>

@{
    ViewData["Title"] = "Параметры устройства";
}

<div class="header-container">
    <h1 class="d-flex justify-content-between align-items-center">
        Параметры устройства @ViewBag.nameDevice
        <div>
            <a class="btn btn-secondary d-inline-flex align-items-center text-dark me-2"
               asp-action="Create" asp-route-equipmentId=@ViewBag.DeviceId style="text-decoration: none;">
                <i class="bi bi-plus-square me-2"></i> Добавить
            </a>
            <a id="delete-selected"
               class="btn btn-info d-inline-flex align-items-center text-dark"
               style="text-decoration: none;"
               data-delete-action="@Url.Action("DeleteSelected", "UnityEntities")">
                <i class="bi bi-trash me-2"></i> Удалить
            </a>
        </div>
    </h1>
</div>

<form asp-action="UpdateValues" method="post">
    <input type="hidden" name="DeviceId" value="@ViewBag.DeviceId" />
    <div class="table-container">
        <table class="table text-center" style="width: 100%; table-layout: fixed;">
            <thead class="sticky-header">
                <tr>
                    <th style="width: 5%;"><input type="checkbox" id="select-all" /></th>
                    <th style="width: 15%;">@Html.DisplayNameFor(model => model.Sample.Name)</th>
                    <th style="width: 15%;">@Html.DisplayNameFor(model => model.Connection.Subsystem.Name)</th>
                    <th style="width: 20%;">@Html.DisplayNameFor(model => model.Connection.Parameters.Name)</th>
                    <th style="width: 30%;">@Html.DisplayNameFor(model => model.Value)</th>
                    <th style="width: 5%;">@Html.DisplayNameFor(model => model.Connection.Parameters.Measure)</th>
                    <th style="width: 10%;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><input type="checkbox" class="select-item" value="@item.Id" /></td>
                        <td>@Html.DisplayFor(modelItem => item.Sample.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Connection.Subsystem.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Connection.Parameters.Name)</td>
                        <td>
                            @if (item.Sample.Status)
                            {
                                @Html.DisplayFor(modelItem => item.Value)
                            }
                            else
                            {
                                <input type="text"
                                       name="Values[@item.Id]"
                                       value="@item.Value"
                                       class="form-control text-center mx-auto"
                                       style="width: 200px;" />
                            }
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Connection.Parameters.Measure)</td>
                        <td>
                            <i class="bi bi-trash me-2 text-dark"
                               style="cursor: pointer;"
                               data-bs-toggle="modal"
                               data-bs-target="#deleteModal"
                               data-device-name="@item.Connection.Parameters.Name"
                               data-delete-url="@Url.Action("Delete", "UnityEntities", new { id = item.Id, deviceName = ViewBag.DeviceId })">
                            </i>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <button type="submit" class="btn btn-secondary d-inline-flex align-items-center text-dark me-2">
        <i class="bi bi-save me-2"></i>Сохранить
    </button>
</form>

@Html.Partial("ModalDelete")

<script src="~/js/ModalDelete.js?v=@DateTime.Now.Ticks"></script>
