@model IEnumerable<DataAccess.Postgres.Entity.SampleEntity>

@{
    ViewData["Title"] = "Список шаблонов";
}

<h1 class="d-flex justify-content-between align-items-center">
    Список шаблонов
    <div>
        <a class="btn btn-secondary d-inline-flex align-items-center text-dark me-2"
           asp-action="Create" style="text-decoration: none;">
            <i class="bi bi-plus-square me-2"></i> Добавить
        </a>
        <a id="delete-selected"
           class="btn btn-info d-inline-flex align-items-center text-dark"
           style="text-decoration: none;"
           data-delete-action="@Url.Action("DeleteSelected", "SampleEntities")">
            <i class="bi bi-trash me-2"></i> Удалить
        </a>
    </div>
</h1>

<form asp-action="UpdateValues" method="post">
    @Html.AntiForgeryToken()
    <div class="table-container">
        <table class="table text-center">
            <thead class="sticky-header">
                <tr>
                    <th>
                        <input type="checkbox" id="select-all" /> <!-- Чекбокс для выбора всех -->
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Equipment.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input type="checkbox" class="select-item" value="@item.Id" /> <!-- Чекбокс для каждого устройства -->
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Equipment.Name)
                        </td>
                        <td class="d-flex justify-content-center align-items-center">
                            <div class="form-check form-switch">
                                <input class="form-check-input form-check-input-info"
                                       type="checkbox"
                                       data-name="@item.Name"
                                       data-id="@item.Id"
                                       data-status="@item.Status"
                                       id="flexSwitchCheckDefault-@item.Id"
                                @(item.Status ? "checked" : "") />
                            </div>
                        </td>
                        <td>
                            <i class="bi bi-trash me-2 text-dark"
                               style="cursor: pointer;"
                               data-bs-toggle="modal"
                               data-bs-target="#deleteModal"
                               data-device-name="@item.Name"
                               data-delete-url="@Url.Action("Delete", "SampleEntities", new { id = item.Id })">
                            </i>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>

@Html.Partial("ModalDelete")
@Html.Partial("ModalUpdate")

<script src="~/js/UpdateStatus.js?v=@DateTime.Now.Ticks"></script>
<script src="~/js/ModalDelete.js?v=@DateTime.Now.Ticks"></script>